.movie-filter-container {
  padding: 5px 20px;
  margin-bottom: 20px;
  background: #6c6c6c;
  border-radius: 4px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.movie-genre-select__control {
  font-size: 1em;
  letter-spacing: -0.015em;
  background-color: #6c6c6c !important;
  border-bottom: 1px solid #e1e1e1 !important;
}

.movie-genre-select__single-value {
  color: #fff !important;
  font-size: 16px;
  letter-spacing: -0.015em;
}

.movie-genre-select__menu-list {
  color: #fff;
  background-color: #6c6c6c;
}

.movie-genre-select__option {
  background-color: #6c6c6c !important;
}

.movie-genre-select__placeholder {
  color: #fff !important;
}

.movie-genre-select__indicator-separator {
  display: none;
}

@media (min-width: 576px) {
  .movie-filter-container {
    margin-bottom: 20px;
  }
  .product-filter-form {
    width: 260px;
  }
}

@media (min-width: 768px) {
  .movie-filter-container {
    margin-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .movie-genre-select__control {
    margin: 15px;
    height: 50px;
  }
}
